black = #222222
white = #ffffff
darkBlue = #4b4e6d
primary = #ffd000
darkRed = #ff5151
grey = #95A3b3
fbBlue = #3B5998
googleRed = #db3236
twitterBlue = #429cd6

backgroundBlue = #3B5998

box-shadow = 2px 2px 5px black

transition = .15s ease-in all

defaultMargin = 75px 0
