#main
  position relative
  width 100%
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;


  .container
    background-color rgb(255,255,255)
    padding 50px
    width 100%
    margin defaultMargin
    // height 600px
    box-shadow box-shadow
    position relative
    min-height calc(100vh - 150px)

.defaultButton
    position absolute
    padding 10px 25px
    background primary
    border none
    color white
    font-weight bold
    transition transition
    &:hover
        background-color: lighten(primary,25%)

.backButton
  right 140px
  top 20px

.changeDisplayButton
  top 20px
  left 20px

body
  // background-image url("https://backgroundcheckall.com/wp-content/uploads/2017/12/background-pattern-light-green-1.jpg")
  background-image url("./assets/light-blue-argyle.jpg")
  // background-image url("https://s3.amazonaws.com/cup-images/marlo-socolov/large/cup735651_70864.jpg")