black = #222222
white = #ffffff
darkBlue = #4b4e6d
teal = #84dcc6
grey = #95A3b3
fbBlue = #3B5998
googleRed = #db3236
twitterBlue = #429cd6

box-shadow = 2px 2px 5px #555555

transition = .1s ease-in all

