html
  font-size 62.5%

body
  font-size 1.6rem
  background-color teal
  margin 0 auto
  width: 70%
  max-width 1200px

h1
  font-size 2.5rem

h2, h3
  font-size: 1.8rem

#main
  position relative
  width 100%
  height 100vh
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;