.checkout
    position fixed
    right 0
    top 0
    bottom 0
    width 15%
    background rgba(220,220,220,.5)

.save-checkout
    position absolute
    bottom 0px
    width 100%
    padding 20px 0
    background-color #91d553
    border none
    color: white
    font-weight bold
    font-size 2.5rem
    transition transition
    &:hover
        background-color lighten(#91d553, 25%)
