.logout-button
    right 20px
    top 20px


.spinner-container
    // border red solid 2px
    display flex
    align-items center
    justify-content center
    height 100%

.house-chooser .house-chooser-title
    font-size 3rem
    width: 100%;
    text-align center
    margin 30px 0
    color primary
    text-shadow 1px 1px darkBlue
    font-weight bold


form .form-input-container
    display flex
    justify-content center
    align-items flex-start
    margin-bottom 40px
    input[type="text"]
        background-color lighten(primary, 90%)
        border none
        width: 50%
        text-align center
        font-size: 2.8rem
        // font-weight bold

.all-houses
    display flex
    flex-flow row wrap
    justify-content space-around
.one-house
    // display block
    position relative
    width 50%
    height: 150px
    margin-bottom 5%
    // border red solid 1px
    transition transition
    display flex
    flex-flow row wrap
    justify-content center
    border .5px solid transparent
    overflow hidden
    &:hover
        transform scale(1.1)
        .test
            display inline-block
        .preview-image-container
            filter grayscale(0)
        .select
            bottom 0
            filter grayscale(0)


.preview-image-container
    width: 80%
    // max-height: 80%
    display: flex
    flex-flow row wrap
    align-items center
    justify-content: center
    background white
    filter grayscale(100%)
    transition transition
    .preview-image 
        max-width 25%
        height 125px
        img
            max-width 100%
            height 100%


.select
    position absolute
    bottom -60px
    padding 5px 15px
    background-color primary
    color white
    filter grayscale(100%)
    cursor pointer
    transition transition
    &:hover
        background-color lighten(primary, 15%)

.no-items 
    color primary
    position: absolute
    top -50px

.name-taken
    color red
    position absolute
    left 50%
    transform translateX(-50%)
    top 200px
    font-style italic

.house-chooser-title2
    margin-bottom 50px !important

.greeting
    text-align left
    font-weight bold
    display none

p.no-houses
    text-align center
    font-style italic

.one-house h3
    font-size 2.5rem