div.login
    background: white;
    padding: 50px;
    width: 100%;
    margin 150px auto
    box-shadow box-shadow
    position relative
    display flex
    flex-flow row wrap
    justify-content center
    p.description
        width: 75%
        text-align center
        margin 60px auto
        font-size 2rem
        color black

.login .buttonContainer 
    display flex
    width 100%
    flex-flow column wrap
    align-items center
    font-size: 2.5rem;
    // transform translateX(-50%)
    & button
        width: 50%;
        padding 15px 30px
        color white
        border: none;
        transition transition
        margin-top 4px
        font-weight bold
        font-size:2rem
        span
            margin-right 10px
        &.facebook
            background-color fbBlue
            &:hover
                background-color lighten(fbBlue, 25%)
        &.google
            background-color googleRed
            &:hover
                background-color lighten(googleRed, 25%)
        &.twitter
            background-color twitterBlue
            &:hover
                background-color lighten(twitterBlue, 25%)