.page-name
    margin-top 40px

.searched-item-container
    display flex
    flex-flow row wrap
    justify-content space-around
    padding-left 0

.one-alc
    width 30%
    margin-bottom 40px
    // height 600px
    // border 2px solid black
    display flex
    flex-flow column wrap
    align-items center
    z-index 10
    // overflow hidden
    &:hover
        .one-alc-info
            // background-color backgroundBlue
            // color backgroundBlue
        button
            position absolute
            bottom -30px
    h2
        font-size 2.5rem
        height 7rem
        overflow hidden
    &-info
        text-align center
        background-color lighten(backgroundBlue, 90%)
        // filter grayscale(100%)
        // background-color backgroundBlue
        color black
        // font-weight bold
        width 100%
        position relative
        transition transition
        padding 10px 0
        // overflow hidden
        .origin
            margin-top 5px
            font-weight bold
        .price
            font-weight bold
        button
            position absolute
            width 100%
            bottom 0
            left 0
            background primary
            color white
            border none
            font-weight bold
            padding 5px
            z-index -1
            transition transition
            &:hover
                background-color lighten(primary, 25%)
            &.in-checkout
                background-color red
                bottom -30px

.flag
    width 60px
    margin-top 10px
    max-height 30px


.simple-search form
    display flex
    justify-content center
    align-items flex-start
    margin 40px 0
    input
        border none
        background-color lighten(primary, 90%)
        width: 50%
        text-align center
        font-size: 2.8rem